<div class="container">
    <h3 class="alert-success" style="text-align: center;">Register</h3>
    <form #registerForm='ngForm' (ngSubmit)='saveConsumer(con)'>
        <div class="form-group" [class.has-error]="Name.touched && Name.invalid">
            <label for='Name'>Name : </label><br>
            <input type='text' required class="form-control" id='Name' name='Name' [(ngModel)]='con.Name' #Name='ngModel'>
            <span class="help-block alert-danger" *ngIf="Name.touched && Name.invalid">
                Name cannot be blank
            </span>
        </div>
       <div class="form-group" [class.has.error]="DateofBirth.touched && DateofBirth.invalid">
           <label for="DateofBirth">Date Of Birth : </label><br>
           <input type="date" required class="form-control" id='DateofBirth' name="DateofBirth" [(ngModel)]='con.DateofBirth' #DateofBirth='ngModel'>
           <span class="help-block alert-danger" *ngIf="DateofBirth.touched && DateofBirth.invalid">
               Date of Birth is Required
           </span>
       </div>
       <div class="form-group" [class.has.error]="Email.touched && Email.invalid">
           <label for="Email">Email Id : </label>
           <input type="email" required class="form-control" id="Email" name="Email" [(ngModel)]='con.Email' #Email='ngModel'>
           <span class="help-block alert-danger" *ngIf="Email.touched && Email.invalid">
               Email is required
           </span>
       </div>
       <div class="from-group" [class.has.error]="PhoneNumber.touched && PhoneNumber.invalid">
           <label for="PhoneNumber">Phone No. : </label>
           <input type="text" required minlength="10" class="form-control" id="PhoneNumber" name="PhoneNumber" [(ngModel)]='con.PhoneNumber' #PhoneNumber='ngModel'>
           <span class="help-block alert-danger" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
               Phone No. is required
           </span>
       </div>
       <div class="form-group" [class.has.error]="Username.touched && Username.invalid">
           <label for="Username">Username : </label>
           <input type="text" required class="form-control" id="Username" name="Username" [(ngModel)]="con.UserName" #Username='ngModel'>
           <span class="help-block alert-danger" *ngIf="Username.touched && Username.invalid">
               Username is required
           </span>
       </div>
       <div class="form-group" [class.has.error]="Password.touched && Password.invalid">
           <label for="Password">Password : </label>
           <input type="password" required minlength="5" class="form-control" id="Password" name="Password" [(ngModel)]="con.Password" #Password="ngModel">
          <div *ngIf="Password.touched && Password.invalid">
           <span class="help-block alert-danger" *ngIf="Password.touched && Password.invalid">
               Password is required
           </span>
           <span class="help-block alert-danger" *ngIf="Password.touched && Password.errors.minlength">Password length should be greater than 5</span>
       </div>
    </div>
       <div class="form-group" [class.has.error]="ConfirmPassword.touched && ConfirmPassword.invalid">
        <label for="Confirm Password"> Confirm Password : </label>
        <input type="password" required minlength="5" class="form-control" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="con.Password" #ConfirmPassword='ngModel'>
        <span class="help-block alert-danger" *ngIf="ConfirmPassword.touched && ConfirmPassword.touched">
            
        </span>
        </div>
        <div class="form-group" [class.has.error]="Address.touched && Address.invalid">
            <label for="Address">Address : </label>
            <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="con.Address" #Address='ngModel'>
            <span class="help-block alert-danger" *ngIf="Address.touched && Address.invalid">Address is Required</span>
        </div>
       
       
        <div class="form-group" [class.has.error]="AccountNo.touched && AccountNo.invalid">
            <label for="AccountNo">Savings Account No. : </label>
            <input type="text" class="form-control" id="AccountNo" name="AccountNo" [(ngModel)]="con.AccountNo" #AccountNo='ngModel'>
            <span class="help-block alert-danger" *ngIf="AccountNo.touched && AccountNo.invalid">Account No. is Required</span>
        </div>
        <div class="form-group" [class.has.error]="IFSC.touched && IFSC.invalid">
            <label for="IFSC">IFSC : </label>
            <input type="text" reruired minlength="11" maxlength="11" class="form-control" id="IFSC" name="IFSC" [(ngModel)]="con.IFSC" #IFSC='ngModel'>
            <div *ngIf="IFSC.touched && IFSC.invalid">
            <span class="help-block alert-danger" *ngIf="IFSC.touched && IFSC.invalid">Required</span>
            <span class="help-block alert-danger" *ngIf="IFSC.touched && IFSC.error.minlength">length should be equal to 11</span>
        </div>
        <div class="form-group">
            <label>Card Type : </label>
            <div class="form-control">
                <label class="radio-inline">
            <input type="radio" value="Gold" name="CardType" [(ngModel)]="con.CardType">
            Gold
        </label>
        <label class="radio-inline">
            <input type="radio" value="Titanium" name="CardType" [(ngModel)]="con.CardType">
            Titanium
            </label>
            </div>
        </div>
    </div>
       <div class="form-group">
           <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
           <button type="reset" class="btn btn-primary">Reset</button>
       </div>

    </form>
</div>
